<%- include("partials/header") %> 

<h1>Index page</h1>
<% for( let i = 0; i < bloguls.length; i++ ) { %>
    <h2><%= bloguls[i]["title"] %></h2>
    <img src="<%= bloguls[i]["image"] %>" alt="">
    <p><%= bloguls[i]["body"] %></p>
    <p><%= bloguls[i]["created"] %></p>
<% } %>

<%- include("partials/footer") %>