<%- include("partials/header") %>

<div class="content-blog">
    <div class="ui main text container segment">
        <div class="ui huge header"><%= foundblogul.title %></div>
        <div class="item">
            <img class="ui centered rounded image" src="<%= foundblogul.image %>">
        </div>
        <div class="content">
            <span><%= foundblogul.created %> </span>
        </div>
        <div class="content-blog">
            <h4><%= foundblogul.body%></h4>
        </div>
    </div>
</div>

<%- include("partials/footer") %>
